.request-menu {
	padding: 32px 24px;
	background-color: #ffffff;
}
.text-title {
	transform: translateX(8px);
}

@media screen and (min-width: 1px) and (max-width: 700px) {
	.full-container__request-call {
		display: flex;
		justify-content: flex-start;
		height: 100%;
		width: 100%;
		position: fixed;
		overflow-y: hidden;
		right: 0;
		top: 0;
		z-index: 12;
		background: rgba(255, 255, 255, 0.96);
	}
	.wrapper-menu {
		display: none;
	}
	.request-menu {
		overflow-y: scroll;
		filter: drop-shadow(16px 0 52px rgba(14, 24, 80, 0.2)) drop-shadow(-2px 0 4px rgba(69, 79, 126, 0.02));
		z-index: 12;
		min-height: 100%;
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}
	.text-form {
		width: 100%;
	}
	.text-title {
		align-self: flex-start;
	}
	.text-block__input {
		margin-bottom: 15px;
	}
	input {
		border: 1px solid #eaeaea;
		border-radius: 10px;
		padding: 12px 16px;
		height: 48px;
		width: 100%;
		vertical-align: top;
	}
	textarea {
		font-family: "TTLakes", sans-serif;
		font-size: 16px;
		width: 100%;
		padding: 12px 16px;
		background: #ffffff;
		border: 1px solid #eaeaea;
		border-radius: 8px;
	}
	.text-block__input:last-child {
		margin-left: auto;
		margin-top: 20px;
	}
	input:last-child {
		display: block;
		font-weight: bold;
		width: 136px;
		font-size: 12px;
		line-height: 6px;
		height: 32px;
		background-color: #ff3e79;
		border-radius: 16px;
		color: white;
	}

	.text-title {
		font-weight: bold;
		font-size: 24px;
	}
	.text-title::before {
		position: relative;
		left: -32px;
		vertical-align: middle;
		content: url("../img/highlight.png");
	}
	.button-icon-cross {
		background: url(../img/cross.png);
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
	}
	.text-form__icon-cross {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 701px) and (max-width: 1360px) {
	.full-container__request-call {
		display: flex;
		justify-content: flex-start;
		height: 100%;
		width: 100%;
		position: fixed;
		overflow-y: hidden;
		right: 0;
		top: 0;
		z-index: 12;
		background: rgba(255, 255, 255, 0.96);
	}
	.wrapper-menu {
		position: relative;
		overflow-y: hidden;
		z-index: 12;
		width: 100%;
		height: 100%;
		flex-basis: 300%;
	}
	.request-menu {
		overflow-y: scroll;
		min-width: 440px;
		filter: drop-shadow(16px 0 52px rgba(14, 24, 80, 0.2)) drop-shadow(-2px 0 4px rgba(69, 79, 126, 0.02));
		z-index: 12;
		min-height: 100%;
	}
	input {
		width: 100%;
		border: 1px solid #eaeaea;
		border-radius: 10px;
		padding: 12px 16px;
		height: 48px;
		vertical-align: top;
	}
	.text-block__input {
		margin-bottom: 15px;
	}
	input:last-child::placeholder {
		vertical-align: top;
	}
	textarea {
		font-family: "TTLakes", sans-serif;
		font-size: 16px;
		width: 100%;
		padding: 12px 16px;
		background: #ffffff;
		border: 1px solid #eaeaea;
		border-radius: 8px;
	}
	.text-block__input:last-child {
		margin-top: 20px;
		margin-left: auto;
	}
	input:last-child {
		display: block;
		font-weight: bold;
		position: relative;
		width: 136px;
		font-size: 12px;
		line-height: 6px;
		height: 32px;
		background-color: #ff3e79;
		border-radius: 16px;
		color: white;
	}

	.text-title {
		font-weight: bold;
		font-size: 24px;
	}
	.text-title::before {
		position: relative;
		left: -32px;
		vertical-align: middle;
		content: url("../img/highlight.png");
	}
	.button-icon-cross {
		display: block;
		position: absolute;
		background: url(../img/cross.png);
		z-index: 2;
		right: 50px;
		width: 40px;
		top: 30px;
		height: 40px;
		opacity: 0.99;
	}
}
@media screen and (min-width: 1361px) {
	.full-container__request-call.hidden {
		display: none;
	}

	.full-container__request-call {
		display: flex;
		justify-content: flex-start;
		height: 100%;
		width: 100%;
		position: fixed;
		overflow-y: hidden;
		right: 0;
		top: 0;
		z-index: 12;
		background: rgba(255, 255, 255, 0.96);
	}
	.wrapper-menu {
		position: relative;
		overflow-y: hidden;
		z-index: 12;
		width: 100%;
		height: 100%;
		flex-basis: 300%;
	}
	.request-menu {
		overflow-y: scroll;
		min-width: 440px;
		filter: drop-shadow(16px 0 52px rgba(14, 24, 80, 0.2)) drop-shadow(-2px 0 4px rgba(69, 79, 126, 0.02));
		z-index: 12;
		min-height: 100%;
	}
	input {
		width: 100%;
		border: 1px solid #eaeaea;
		border-radius: 10px;
		padding: 12px 16px;
		height: 48px;
		vertical-align: top;
	}
	.text-block__input {
		margin-bottom: 15px;
	}
	input:last-child::placeholder {
		vertical-align: top;
	}
	textarea {
		font-family: "TTLakes", sans-serif;
		font-size: 16px;
		width: 100%;
		padding: 12px 16px;
		background: #ffffff;
		border: 1px solid #eaeaea;
		border-radius: 8px;
	}
	.text-block__input:last-child {
		margin-top: 20px;
		margin-left: auto;
	}
	input:last-child {
		display: block;
		font-weight: bold;
		position: relative;
		width: 136px;
		font-size: 12px;
		line-height: 6px;
		height: 32px;
		background-color: #ff3e79;
		border-radius: 16px;
		color: white;
	}

	.text-title {
		font-weight: bold;
		font-size: 24px;
	}
	.text-title::before {
		position: relative;
		left: -32px;
		vertical-align: middle;
		content: url("../img/highlight.png");
	}
	.button-icon-cross {
		display: block;
		position: absolute;
		background: url(../img/cross.png);
		z-index: 2;
		right: 50px;
		top: 30px;
		width: 40px;
		height: 40px;
		opacity: 0.99;
	}
}
