.repair-tech-slider {
	input,
	button,
	textarea {
		font-family: inherit;
	}
	input::-ms-clear {
		display: none;
	}
	button, input[type="submit"] {
		cursor: pointer;
	}
	button::-moz-focus-inner, input[type="submit"] {
		padding: 0;
		border: 0;
	}
	a,
	a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
	ul li {
		list-style: none;
	}
	img {
		vertical-align: top;
	}

	.tech-list__slide-content .content {
		padding-left: 10px;
		padding-top: 20px;
	}
	.content {
		color: #1B1C21;
	}
	ul {
		padding: 0;
		margin: 0;
	}

	button {
		padding: 0;
		border: none;
		font: inherit;
		color: inherit;
		outline: none; /* Для синий ободки */
		border: 0;
		background: none;
	}
	body {
		height: 100%;
		background-color: #f2f2f2;
		font-family: "TTLakes", sans-serif;
		font-size: 16px;
		color: black;
		margin: 0;
		padding: 0;
		width: 100vw;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;
	}
	.repair-tech-slider__title {
		margin: 0;
	}
	.repair-tech-title {
		background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
		height: 100%;
		padding: 0;
		width: 100%;
		flex: 0 0 auto;
	}
	.repair-tech-title__text {
		padding: 16px;
		text-transform: uppercase;
		line-height: 24px;
	}
	.block-main {
		background-color: #f2f2f2;
	}
	.slider-container {
		position: relative;
	}

	.slider-container {
		overflow: hidden;
		width: 100%;
	}
	.tech-list__wrapper {
		margin: 25px 0;
	}

	.swiper-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 0 24px;
	}

	.swiper-slide > .link-arrow::after {
		content: url(../img/go.png);
		display: inline-block;
		position: absolute;
		bottom: 15px;
		right: 10px;
		height: 40px;
		margin-right: 5px;
		margin-top: auto;
	}
	.block-main__button {
		margin-right: auto;
	}

	.tech-button-all {
		font-size: 16px;
		letter-spacing: -0.2px;
		font-weight: 500;
		display: inline-block;
		position: relative;
		left: 50px;
		padding: 20px 0 30px 0;
	}

	.tech-button-all::before {
		content: url(../img/icon.png);
		display: inline-block;
		position: absolute;
		left: -20px;
	}

	.tech-button-all-reverse {
		font-size: 16px;
		letter-spacing: -0.2px;
		font-weight: 500;
		display: inline-block;
		position: relative;
		left: 50px;
		padding: 0 0 30px 0;
	}

	.tech-button-all-reverse::before {
		content: url(../img/icon-reverse.png);
		display: inline-block;
		position: absolute;
		left: -20px;
	}
	.tech-list__wrapper li:hover {
		transform: scale(1.05);
		transition: all 0.5s;
	}
	a:hover {
		transform: none;
	}
	li a {
		display: block;
		width: 100%;
	}
	@media screen and (min-width: 1px) and (max-width: 700px) {
		.tech-list__slide-content .content  {
		display: inline;
		}	
		.container {
		}

		.swiper-wrapper__slide{
			margin-bottom: 10px;
			margin-right: 0;
		}
		.swiper-slide {
			min-width: 240px;
			position: relative;
			height: 160px;
			background-color: white;
			border: 1px solid #eaeaea;
			border-radius: 6px;
			flex-basis: 100%;
			flex-shrink: 1;
		}

		.swiper-wrapper {
			flex-wrap: nowrap;
			padding-left: 10px;
		}

		.swiper-pagination {
			position: relative;
		}
		.tech-button-all {
			display: none;
		}

		.tech-button-all-reverse {
			display: none;
		}
	}

	@media screen and (min-width: 701px) and (max-width: 1360px) {
		.container {
			position: relative;
		}
		.tech-list__slide-content .content {
			display: block;
			padding-left: 10px;
			padding-top: 20px;
		}
		.swiper-wrapper {
			width: auto;
			padding-right: 24px;
		}
		.swiper-slide {
			min-width: 224px;
			height: 160px;
			background-color: white;
			border: 1px solid #eaeaea;
			border-radius: 6px;
			flex-basis: 31.3%;
			min-width: 200px;
			position: relative;
		}

		.swiper-wrapper__slide{
			margin-right: 3%;
			margin-bottom: 10px;
		}
		.tech-list__wrapper > .swiper-wrapper__slide:nth-child(3n) {
			margin-right: 0;
		}
		.block-main__tech-list {
			margin-bottom: auto;
		}
		.slider-container {
			height: 185px;
		}
		.slider-full {
			height: 100%;
		}

		.swiper-pagination {
			display: none;
		}
	}
	@media screen and (min-width: 1361px) {
		.swiper-wrapper {
			width: auto;
			padding-right: 24px;
		}

		.tech-list__wrapper > .swiper-wrapper__slide:nth-child(4n) {
			margin-right: 0;
		}

		.swiper-slide {
			width: 224px;
			height: 160px;
			background-color: white;
			border: 1px solid #eaeaea;
			border-radius: 6px;
			position: relative;
		}
		.block-main__tech-list {
			margin-bottom: auto;
		}
		.slider-container {
			height: 185px;
		}
		.slider-full {
			height: 100%;
		}
		.swiper-slide {
			height: 160px;
			background-color: white;
			border: 1px solid #eaeaea;
			border-radius: 6px;
			flex-basis: 22.7%;
			position: relative;
		}
		.swiper-wrapper__slide{
			margin-right: 3%;
			margin-bottom: 10px;
		}
		.swiper-pagination {
			display: none;
		}
	}
}
