@charset "UTF-8";
.slide-content img {
	margin: auto;
	margin-left: 20px;
}

.swiper-slide__content img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

ul {
	padding: 0;
	margin: 0;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	outline: none;
	/* Для синий ободки */
	border: 0;
	background: none;
}

body {
	height: 100%;
	background-color: #f2f2f2;
	font-family: "TTLakes", sans-serif;
	font-size: 16px;
	color: black;
	margin: 0;
	padding: 0;
	width: 100vw;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.container__slider {
	margin: 0;
}

.repair-title {
	background: -webkit-gradient(linear, left top, right top, color-stop(1.39%, #f8f8f8), to(#ffffff));
	background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
	height: 100%;
	padding: 0;
	width: 100%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.text-slider {
	padding: 16px;
	text-transform: uppercase;
	line-height: 24px;
}

.slider-container {
	position: relative;
}

.slider-container {
	overflow: hidden;
	width: 100%;
}

.companies-list__wrapper {
	margin: 25px 0;
}

.swiper-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 24px;
}

.swiper-slide > .link-arrow::after {
	content: url(../img/go.png);
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 15px;
}

.block-main__button {
	margin-right: auto;
}

.button-all {
	font-size: 16px;
	letter-spacing: -0.2px;
	font-weight: 500;
	display: inline-block;
	position: relative;
	left: 50px;
	padding: 20px 0 30px 0;
}

.button-all::before {
	content: url(../img/icon.png);
	display: inline-block;
	position: absolute;
	left: -20px;
}

.button-all-reverse {
	font-size: 16px;
	letter-spacing: -0.2px;
	font-weight: 500;
	display: inline-block;
	position: relative;
	left: 50px;
	padding: 0 0 30px 0;
}

.button-all-reverse::before {
	content: url(../img/icon-reverse.png);
	display: inline-block;
	position: absolute;
	left: -20px;
}

@media screen and (min-width: 1px) and (max-width: 700px) {
	.container {
		min-width: 320px;
	}
	.companies-list__slide {
		margin-bottom: 10px;
		margin-right: 0;
	}
	.swiper-slide {
		min-width: 205px;
		position: relative;
		height: 72px;
		line-height: 72px;
		background-color: white;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		-ms-flex-negative: 1;
		flex-shrink: 1;
	}
	.swiper-wrapper {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		padding-left: 10px;
	}
	.swiper-pagination {
		position: relative;
	}
	.button-all {
		display: none;
	}
	.button-all-reverse {
		display: none;
	}
}

@media screen and (min-width: 701px) and (max-width: 1360px) {
	.container {
		position: relative;
	}
	.swiper-wrapper {
		width: auto;
		padding-right: 24px;
	}
	.swiper-slide {
		height: 72px;
		background-color: white;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		-ms-flex-preferred-size: 31.3%;
		flex-basis: 31.3%;
		min-width: 205px;
		position: relative;
	}
	.companies-list__slide {
		margin-right: 3%;
		margin-bottom: 10px;
	}
	.companies-list__wrapper > .companies-list__slide:nth-child(3n) {
		margin-right: 0;
	}
	.companies-list {
		margin-bottom: auto;
	}
	.slider-container {
		height: 180px;
	}
	.slider-full {
		height: 100%;
	}
	.swiper-pagination {
		display: none;
	}
}

@media screen and (min-width: 1361px) {
	.container {
		position: relative;
		max-width: 1400px;
		margin: 0 auto;
	}
	.swiper-wrapper {
		width: auto;
		padding-right: 24px;
	}
	.companies-list__wrapper > .companies-list__slide:nth-child(4n) {
		margin-right: 0;
	}
	.swiper-slide {
		min-width: 200px;
		height: 72px;
		background-color: white;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		-ms-flex-preferred-size: 29.44%;
		flex-basis: 29.44%;
		position: relative;
	}
	.companies-list {
		margin-bottom: auto;
	}
	.slider-container {
		height: 180px;
	}
	.slider-full {
		height: 100%;
	}
	.swiper-slide {
		height: 72px;
		background-color: white;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		-ms-flex-preferred-size: 22.7%;
		flex-basis: 22.7%;
		position: relative;
	}
	.companies-list__slide {
		margin-right: 3%;
		margin-bottom: 10px;
	}
	.swiper-pagination {
		display: none;
	}
}
/*# sourceMappingURL=style3.css.map */
