@charset "UTF-8";
.main-block__text-overflow-full {
	line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.2px;
  height: 100%;
}

.main-block__button-overflow-full::before {
  margin-right: 15px;
  content: url(../img/icon-reverse.png);
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
  /* Для синий ободки */
  border: 0;
  background: transparent;
}

/* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок 
  cursor: pointer;
}



/*FOR SMARTPHONE*/
html,
body {
  font-family: "TTLakes", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1px) and (max-width: 700px) {
  .full-container__main {
    /*Content*/
    /*.arrowImg {
	align-self: center;
	margin: 0 8px 0 20px;
}*/
  }
  .full-container__main .header {
    height: 100%;
    width: 100vw;
  }
  .full-container__main .container {
    display: inline-block;
    min-width: 320px;
    padding: 14px 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .full-container__main .header__blocks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full-container__main .header__block-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .full-container__main .header__block-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full-container__main .header__border-left {
    display: none;
  }
  .full-container__main .header__logo {
    content: url(../img/Group.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .full-container__main .central-block__logo {
    margin-left: 20px;
  }
  .full-container__main .header__center-buttons {
    margin: 0 20px 0 auto;
    display: none;
  }
  .full-container__main .header__link-chat {
    margin-left: 15px;
  }
  .full-container__main .header__link-profile {
    margin-left: 15px;
  }
  .full-container__main .header__border-right {
    margin-left: 20px;
  }
  .full-container__main .header__block-right-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
  }
  .full-container__main .header__block-right-buttons::before {
    display: block;
    position: absolute;
    content: url(../img/divider.png);
    left: 5px;
    top: 5px;
    padding-right: 10px;
    padding-left: 5px;
  }
  .full-container__main .button__repair {
    padding-left: 25px;
  }
  .full-container__main .block3__text1 {
    display: none;
  }
  .full-container__main .block3__text2 {
    display: none;
  }
  .full-container__main .header__link-checkstatus {
    margin-left: -15px;
  }
  .full-container__main .main-block {
    height: 100%;
    background: #f2f2f2;
    min-width: 320px;
    padding: 20px 0 50px 0;
  }
  .full-container__main .main-block__titlerow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full-container__main .main-block__right-buttons {
    display: none;
  }
  .full-container__main .h1 {
    margin-left: 17px;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
  }
  .full-container__main .h1::before {
    content: url(../img/highlight.png);
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -16px;
  }
  .full-container__main .main-block__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
    margin: 20px 0;
    margin-left: 17px;
  }
  .full-container__main .li-services__link {
    padding: 10px 15px;
    letter-spacing: -0.2px;
    color: #7e7e82;
  }
  .full-container__main a.li-services__link--activated {
    border: 2px solid #b8ffec;
    background: #ffffff;
    border-radius: 6px;
  }
  .full-container__main .main-block__column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .full-container__main .main-block__rows {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    line-height: 18px;
    margin: 0 16px 20px 16px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .full-container__main .main-block__text-overflow {
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .full-container__main .main-block__text-overflow2 {
    display: none;
  }
  .full-container__main .main-block__text-overflow2_1 {
    display: none;
  }
  .full-container__main .readmore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-left: 10px;
  }
  .full-container__main .main-block__button-overflow {
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
  .full-container__main .::before {
    margin-right: 15px;
    content: url(../img/icon.png);
  }
  .full-container__main .main-block__img {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .full-container__main .main-block__photologo {
    width: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    overflow: hidden;
  }
}

@media screen and (min-width: 701px) and (max-width: 1360px) {
  .full-container__main {
    /*Content*/
  }
  .full-container__main .header {
    height: 100%;
    background: white;
  }
  .full-container__main .container {
    padding: 14px 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .full-container__main .header__blocks {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full-container__main .header__block-burger {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .full-container__main .header__block-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .full-container__main .header__block-logo::before {
    display: block;
    position: absolute;
    content: url(../img/divider.png);
    left: 0;
    top: 10px;
    margin-right: 10px;
  }
  .full-container__main .header__logo {
    content: url(../img/Group.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .full-container__main .central-block__logo {
    margin-left: 20px;
  }
  .full-container__main .header__center-buttons {
    margin: 0 15px 0 auto;
  }
  .full-container__main .header__center-buttons button:nth-child(2) {
    margin-left: 15px;
  }
  .full-container__main .header__center-buttons button:nth-child(3) {
    margin-left: 15px;
  }
  .full-container__main .header__block-right-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
  }
  .full-container__main .header__block-right-buttons::before {
    display: block;
    position: absolute;
    content: url(../img/divider.png);
    left: 0;
    top: 4px;
    margin-right: 10px;
  }
  .full-container__main .button__repair {
    margin-left: 20px;
  }
  .full-container__main .main-block {
    height: 100%;
    background: #f2f2f2;
    width: 100%;
    padding: 20px 20px 50px 20px;
  }
  .full-container__main .main-block__titlerow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full-container__main .highlight {
    position: absolute;
    left: 0;
  }
  .full-container__main .main-block__right-buttons {
    display: none;
  }
  .full-container__main .h1 {
    margin-right: auto;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
  }
  .full-container__main .h1::before {
    content: url(../img/highlight.png);
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -19px;
  }
  .full-container__main .main-block__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
    margin: 20px 0;
  }
  .full-container__main .li-services__link {
    padding: 10px 15px;
    letter-spacing: -0.2px;
    color: #7e7e82;
  }
  .full-container__main a.li-services__link--activated {
    border: 2px solid #b8ffec;
    background: #ffffff;
    border-radius: 6px;
  }
  .full-container__main .main-block__column {
    height: 208px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .full-container__main .main-block__rows {
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }
  .full-container__main .main-block__content {
    padding-right: 40px;
  }
  .full-container__main .main-block__text-overflow {
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .full-container__main .main-block__text-overflow2_1 {
    display: none;
  }
  .full-container__main .main-block__text-overflow {
    padding-bottom: 30px;
  }
  .full-container__main .readmore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-left: 10px;
  }
  .full-container__main .main-block__button-overflow {
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
  .full-container__main .main-block__button-overflow::before {
    margin-right: 15px;
    content: url(../img/icon.png);
  }
  .full-container__main .main-block__photologo {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1121px) {
  .full-container__main {
    /*Content*/
  }
  .full-container__main body {
    max-width: 1200px;
    margin: 0 auto;
    background: #f8f8f8;
  }
  .full-container__main .header {
    display: none;
    height: 80px;
    background: white;
  }
  .full-container__main .container {
    padding: 14px 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .full-container__main .header__blocks {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full-container__main .header__block-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .full-container__main .header__block-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full-container__main .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .full-container__main .central-block__logo {
    margin-left: 20px;
  }
  .full-container__main .header__center-buttons {
    margin: 0 -5px 0 auto;
  }
  .full-container__main .header__link-chat {
    margin-left: 15px;
  }
  .full-container__main .header__link-profile {
    margin-left: 15px;
  }
  .full-container__main .header__border-right {
    margin-left: 20px;
  }
  .full-container__main .header__block-right-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .full-container__main .block3__text1 {
    display: none;
  }
  .full-container__main .block3__text2 {
    display: none;
  }
  .full-container__main .header__link-checkstatus {
    margin-left: -15px;
  }
  .full-container__main .main-block {
    height: 100%;
    background: #f2f2f2;
    width: 100%;
    padding: 42px 28px 48px 28px;
  }
  .full-container__main .main-block__titlerow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .full-container__main .highlight {
    position: relative;
    left: -28px;
  }
  .full-container__main .main-block__right-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: 100%;
        -ms-flex-align: 100%;
            align-items: 100%;
  }
  .full-container__main .main-block__repair-button,
  .full-container__main .main-block__search-button {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  .full-container__main .repair__text {
    display: inline-block;
    vertical-align: -40%;
    padding-right: 15px;
    font-weight: 500;
  }
  .full-container__main .search__text {
    display: inline-block;
    vertical-align: -40%;
    padding-right: 15px;
    font-weight: 500;
  }
  .full-container__main .h1 {
    margin-right: auto;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    white-space: nowrap;
  }
  .full-container__main .h1::before {
    content: url(../img/highlight.png);
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -28px;
  }
  .full-container__main .main-block__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 16px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 20px 0;
  }
  .full-container__main .li-services__link {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    white-space: normal;
    padding: 10px 20px;
    margin-bottom: 10px;
    letter-spacing: -0.2px;
    color: #7e7e82;
  }
  .full-container__main a.li-services__link--activated {
    border: 2px solid #b8ffec;
    background: #ffffff;
    border-radius: 6px;
  }
  .full-container__main .main-block__column {
    margin-top: -15px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .full-container__main .main-block__rows {
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }
  .full-container__main .main-block__content {
    padding-right: 40px;
  }
  .full-container__main .main-block__text-overflow {
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .full-container__main .main-block__text-overflow {
    padding-bottom: 30px;
  }
  .full-container__main .readmore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-left: 10px;
  }
  .full-container__main .main-block__button-overflow {
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
  .full-container__main .main-block__button-overflow::before {
    margin-right: 15px;
    content: url(../img/icon.png);
  }
  .full-container__main .main-block__photologo {
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style1.css.map */