//Цвета 
$color-primary: #1B1C21;
$color-secondary: #7E7E82;
$color-condidtions: #FF3E79;
$color-form: #B5B6BC;
$color-body: #F8F8F8;
$color-separatop: #EAEAEA;
$color-border: #41F6D7;
$color-gray: #f2f2f2;
$color-light-blue: #b8ffec;